body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: sans-serif;
}

.verticlMid {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

#header {
    background-color: #0a64eb;
    border-radius: 0px;
}

#header .container {
    padding-left: 0px;
}

#header a {
    color: white;
}

#header a:hover {
    color: lightgray;
    background-color: transparent;
}

#usersContainer {
    padding-top: 15px;
    padding-left: 30px;
}

#logoPic {
    height: 22px;
}

#logoText {
    font-size: 16px;
    font-family: sans-serif;
}