#usersContainer {
    padding-top: 15px;
    padding-left: 30px;
}

.followersCell {
    height: 170px;
    animation: extendsUser 0.5s;
}

@keyframes extendsUser {
    0%   {margin-bottom: 0px}
    100% {margin-bottom: 20px}
}

#followersThumb {
    border: 5px solid #ddd;
    padding: 0px 20px;
}

#followersCol {
    padding-right: 0px;
}