body {
    margin: 0;
    height: 100%;

}

.verticlMid {
    vertical-align: -webkit-baseline-middle;
}

a {
    text-decoration: none;
}

#header {
    height: 31px;
    background-color: #0a64eb;
    font-family: Arial;
    text-shadow: 2px 2px black;
}

#header a {
    color: white;
}

.titleSec {
    display: inline-block;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#logoContainer {
    width: 2%;
}

#logoPic {
    width: 100%;
}

.titleSec:hover {
    background-color: #77a1e0;
}

.rightHeaders {
    float: right;
}

#container {
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

.userContainer {
    margin: 3px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: 3px solid lightgray;
    border-radius: 5px;
}